body{
	background-color: grey;
	font-family: "Times New Roman", Times, serif;

}
h1 {
	text-align: -webkit-center;
}
h3 {
	float: right;
	color: red;
	border: 2px solid black;

}
.Chicken {
   
  width: 100px;
}

.Beef {
  
  width: 100px;
}

.Sushi {
  
  width: 100px;
}
p{
	border: 2px solid black;
	width: 300px;
	height: 180px;
	text-align: center;
	padding: 30px

}
	

@media (max-width: 767px)
{

}
@media (min-width: 768px) and (max-width: 991px)
{

}
@media (min-width: 992px)
{

}

